@media only screen and (min-width: 32rem) {
  /* Ocultar el botón hamburguesa en pantallas grandes */
  #menu-button {
    display: none;
  }

  /* Mostrar el menú siempre visible y horizontal */
  nav ul {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
    padding: 0;
    gap: 2rem;
  }

  nav ul.hidden {
    display: flex; /* Evita ocultar el menú en pantallas grandes */
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
